<header>
  <div id="top-message">We are extending return deadlines until 8th January.</div>
  <div class="header-content">
    <h1><a href="/" style="color: inherit; text-decoration: none;">NUDE PROJECT</a></h1>
    <div class="menu-container">
      <button class="menu-toggle" (click)="toggleMenu()">Seleccionar</button>
      <ul class="dropdown-menu" [class.show]="menuOpen">
        <li><a href="/collections">Collections</a></li>
      </ul>
    </div>
    <a href="/carrito" class="cart-link">Ver carrito</a>
  </div>
</header>
