<div id="shopify-section-footer" class="shopify-section shopify-section--footer">
    <footer id="section-footer" class="Footer  border_top_none   " role="contentinfo">
      <div class="Container"><div class="Footer__Inner"><div class="Footer__Block Footer__Block--text"><a href="/es" class="Header__LogoLink"><img class="Header__LogoImage Header__LogoImage--primary" src="//nude-project.com/cdn/shop/files/LOGO_NP_BROWN_1_32f13745-15cb-461b-b9ba-522d8ef8c2f3_140x.png?v=1731935426" srcset="//nude-project.com/cdn/shop/files/LOGO_NP_BROWN_1_32f13745-15cb-461b-b9ba-522d8ef8c2f3_140x.png?v=1731935426 1x, //nude-project.com/cdn/shop/files/LOGO_NP_BROWN_1_32f13745-15cb-461b-b9ba-522d8ef8c2f3_140x@2x.png?v=1731935426 2x" width="140" alt="NUDE PROJECT" data-ly-processed="1732882376365"></a><div class="footermailid Footer__Content Rte">
                        <p>help@nude-project.com</p>
                      </div><ul class="Footer__Social ">
        <li class="HorizontalList__Item">
          <a href="https://www.instagram.com/nudeproject/" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Instagram">
            <span class="Icon-Wrapper--clickable">
        <img src="https://cdn.shopify.com/s/files/1/0025/3725/9054/files/Sin_titulo-1-01.svg?v=1732024206" width="20" height="20" data-ly-processed="1732882376365"></span>
          </a>
        </li>
    
        
    <li class="HorizontalList__Item">
          <a href="https://www.youtube.com/c/NUDEPROJECT/videos" class="Link Link--primary" target="_blank" rel="noopener" aria-label="YouTube">
            <span class="Icon-Wrapper--clickable">
        <img src="https://cdn.shopify.com/s/files/1/0025/3725/9054/files/Sin_titulo-1-03.svg?v=1732024206" width="20" height="20" data-ly-processed="1732882376365"></span>
          </a>
        </li>
    
        
    <li class="HorizontalList__Item">
          <a href="https://www.tiktok.com/@nudeproject" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Facebook">
            <span class="Icon-Wrapper--clickable">
    
        
      <img src="https://cdn.shopify.com/s/files/1/0025/3725/9054/files/Sin_titulo-1-02.svg?v=1732024206" width="20" height="20" data-ly-processed="1732882376365"></span>
          </a>
        </li>
    
        
    
      </ul>
    </div><div class="Footer__Block Footer__Block--links"><h2 class="footermenuhead Footer__Title Heading u-h6">BRAND</h2>
    
                      <ul class="Linklist"><li class="footersubmenu Linklist__Item ">
                            <a href="/es/pages/stores" class="Link hover-animation Link--primary">STORES</a>
                          </li><li class="footersubmenu Linklist__Item ">
                            <a href="https://nudeproject.teamtailor.com/" class="Link hover-animation Link--primary">CAREERS</a>
                          </li></ul></div><div class="Footer__Block Footer__Block--links"><h2 class="footermenuhead Footer__Title Heading u-h6">BORING STUFF</h2>
    
    
                      <ul class="Linklist"><li class="footersubmenu Linklist__Item ">
                            <a href="https://returns.reveni.io/nude-project" class="Link hover-animation Link--primary">DEVOLUCIONES</a>
                          </li><li class="footersubmenu Linklist__Item ">
                            <a href="/es/pages/tracking" class="Link hover-animation Link--primary">ORDER TRACKING</a>
                          </li><li class="footersubmenu Linklist__Item ">
                            <a href="/es/pages/help-center" class="Link hover-animation Link--primary">FAQ</a>
                          </li><li class="footersubmenu Linklist__Item ">
                            <a href="/es/pages/contact" class="Link hover-animation Link--primary">CONTACTO</a>
                          </li></ul></div><div class="Footer__Block Footer__Block--newsletter"><h2 class="jointhecult Footer__Title Heading u-h6">JOIN THE CULT</h2><div class="footerdubscriptionhead Footer__Content Rte">
                        <p>SIGN UP TO OUR EMAIL LIST&nbsp;AND GET 10% OFF YOUR FIRST ORDER</p>
                      </div><form method="post" action="/es/contact#footer-newsletter" id="footer-newsletter" accept-charset="UTF-8" class="Footer__Newsletter Form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">
                        <input type="email" name="contact[email]" class="footeremailplaceholder Form__Input" aria-label="Dirección de correo electrónico" placeholder="Dirección de correo electrónico" required="">
                        <button type="submit" class="footeremailbutton Form__Submit Button Button--primary">Join</button></form></div></div></div>
    </footer>
       
    <div class="Footer__Aside">
      <div class="Footer__Copyright">
        <a href="/es" class="Footer__StoreName Heading u-h7 Link Link--secondary hover-animation">NUDE PROJECT ®</a>
      </div>
      <!---->
    </div>
    
                 
                <style>
                  
                    .shopify-section--footer , .Footer {
                      background: #000000 !important ;
                    }
                    #footer-newsletter .Button--primary {
                      color: #000000 ;
                    }
                    #footer-newsletter .Button--primary:hover {
                      background-color: #000000 ;
                    }
                    .Footer__Inner .Footer__Social {
                      background: #000000;
                    }
    
                  
    
                  
                    .Footer ,.Footer .footeremailplaceholder::placeholder {
                      color: #ffffff;
                    }
                    .Footer__Newsletter .Form__Input {
                      border-color: #ffffff ;
                    }
                    .Footer__Newsletter .Form__Input::placeholder {
                      border-color: #ffffff ;
                    }
                    #footer-newsletter .Button--primary {
                      background-color: #ffffff ;
                      border-color: #ffffff ;
                    }
                    .shopify-section--footer .hover-animation::after{
                      background-color: #ffffff;
                    }
                    .shopify-section--footer .hover-animation:hover {
                      color: #ffffff;
                    }
                   
                    #footer-newsletter .Button--primary:hover {
                    color: #ffffff ;
                    }
                  
    
                  
                    .Footer .Heading{
                      color: #ffffff;
                    }
                  
                  
                  
                    .Footer__Aside {
                      background: #000000 !important;
                    }
                  
                  
                    .Footer__Aside {
                      border-color: #ffffff;
                      color: #ffffff ;
                    }
                  
                  
                    .Footer__Aside .Heading {
                      color: #ffffff;
                    }
                    .Footer__Aside .Heading.hover-animation:after{
                      background-color: #ffffff;
                    }
                  
    
                  /*   Desktop  */
                  @media (min-width: 769px) and (max-width: 9999px) {
                    .footermailid p{
    
                      font-size:11px !important;
                    }
    
                    .footermenuhead{
                      font-size:11px !important;
                    }
                    
                    .footersubmenu {
                    
                     font-size:10px !important;
                    
                    }
                    
                    .footerdubscriptionhead p{
                    font-size:10px !important;
                    
                    }
                    
                    .footeremailplaceholder{
                    
                     font-size:10px !important;
                    
                    }
                    
                    .footeremailbutton{
                    
                    font-size:12px !important;
                    
                    }
                    
                    .jointhecult{
                    
                     font-size:11px !important;
                    }
                  }
    
    
    
    
    
    
    
    
                  /*  Mobile   */
    
    
                  @media (min-width: 0px) and (max-width: 768px) {
                    .footermailid p{
    
                      font-size:10px !important;
                    }
    
                    .footermenuhead{
                      font-size:12px !important;
                    }
                    
                    .footersubmenu {
                    
                     font-size:11px !important;
                    
                    }
                    
                    .footerdubscriptionhead p{
                    font-size:11px !important;
                    
                    }
                    
                    .footeremailplaceholder{
                    
                     font-size:11px !important;
                    
                    }
                    
                    .footeremailbutton{
    
                      font-size:12px !important;
    
                    }
                    
                    .jointhecult{
                    
                     font-size:12px !important;
                    }
                  }
    
    
    
    
                </style>
                
                
    </div>