<div class="collection">
    <div class="collection-item">
    
        <img src="//nude-project.com/cdn/shop/files/BF-5-BLOCKS_800X750.png?v=1732631739" alt="Black Friday Collection">
      
      <h3 class="collection-title">Featured Black Friday</h3>
    </div>
  
    <div class="collection-item">
     
       <img src="//nude-project.com/cdn/shop/files/PRINTS_NUDEPROJECT_JPG_6_5ca97002-0ede-4d90-9804-acecb6d09dc2_800X750.jpg?v=1732181558" alt="Dreams Money Can Buy">
    
      <h3 class="collection-title">Dreams Money Can Buy</h3>
    </div>
  
    <div class="collection-item">
      
        <img src="//nude-project.com/cdn/shop/files/EFWFFWF_800X750.jpg?v=1729183655" alt="First Class Fried Chicken">
      
      <h3 class="collection-title">First Class Fried Chicken</h3>
    </div>
  
    <!-- Añadir más elementos de colección según sea necesario -->
  </div>
  